<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<h1>About Us</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id lorem eu urna vestibulum condimentum. Nulla accumsan mauris sed bibendum ornare. Etiam eu tortor neque. Donec in egestas felis. Nulla non maximus sem. Donec vel venenatis enim, at mattis enim. Duis viverra eros turpis, sed faucibus libero pharetra non. Fusce commodo sagittis turpis ac laoreet. Cras egestas ante nec mi pretium iaculis.
</p>

